{% extends "lecturer/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    {% if form.error %}
    <p>There's something wrong!</p>>
    {% endif %}

    {% if next %}
    <h2><p>Нет доступа, войдите под своим аккаунтом!</p></h2>
    {% endif %}

    {% csrf_token %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Пользователь: {{ form.username }}</p>
        <p>Пароль: {{ form.password }}</p>

        <input type="submit" value="Войти" class="btn btn-primary">
        <input type="hidden" name="next", value="{{ next }}">
    </form>

{% endblock %}