{% extends "lecturer/base.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'registration_url' %}">
        {% csrf_token %}


    {% if messages %}
        {% for message in messages %}
                <div class="alert {% if message.tags %}
                alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}


    {{ form }}
    <p><input type="submit" value="Регистрация" class="btn btn-primary"></p>

    </form>
{% endblock %}
