{% extends "lecturer/base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'registration_url' %}">
        {% csrf_token %}


    {% if messages %}
        {% for message in messages %}
                <div class="alert {% if message.tags %}
                alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}


        {{ form }}
        <input type="submit" value="Register" class="btn btn-primary">

    </form>
{% endblock %}
