{% extends "lecturer/base.html" %}

{% block title %}
    Check
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'check_your_self_url' id %}" method="post">
    {% csrf_token %}

    {% for name in name %}
        <h4>
            <input type="submit" name="Student" id="Student {{ name.name }}"
                   value="{{ name.name }}" class="btn btn-primary" />
            <label for="Student {{ name.name }}"></label><br />
        </h4>
    {% endfor %}
    </form>

{% endblock %}