{% extends "lecturer/base.html" %}

{% block title %}
    Присутствие
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'check_your_self_url' id %}" method="post">{% csrf_token %}
        <p><strong>Группы: {% for group in lecture.group.all %} {{ group }}{% if not forloop.last %},{% endif %}{% endfor %}</strong></p>
    {% for name in students %}
        {% if name.activity %}
            {% if name in lecture.student.all  %}
                <h4>
                    <input type="button" name="Student" value="{{ name }}" class="btn btn-success"/>
                </h4>
            {% else %}
                <h4>
                    <input type="submit" name="Student" value="{{ name }}" class="btn btn-primary"/>
                </h4>
            {% endif %}
        {% endif %}
    {% endfor %}
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}
            alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

{% endblock %}