{% extends "lecturer/base.html" %}

{% block title %}
    Список лекций
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Лекция</th>
                <th scope="col"></th>
                <th scope="col">Число слушателей</th>
            </tr>
        </thead>
        {% for lecture in lectures %}
        <tbody>
            <tr>
                <td scope="row">
                    <p>{{ lecture }}</p> <p>{{ lecture.time }}</p>
                </td>
                <td scope="row">
                    <a class="nav-link" href="{% url 'lecture_more_url' lecture.id %}">Подробнее о лекции</a>
                </td>
                <td>{{ lecture.student.count }} из {{ lecture.students_count }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <p>{% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% for n in lectures.paginator.page_range %}
                    {% if search_query %}
                        {% if lectures.number == n %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?group={{ search_query }}&page={{ n }}">{{ n }}<span
                                class="sr-only">(current)</span></a>
                            </li>
                        {% elif n > lectures.number|add:-3 and n < lectures.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?group={{ search_query }}&page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if lectures.number == n %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ n }}">{{ n }}<span
                                class="sr-only">(current)</span></a>
                            </li>
                        {% elif n > lectures.number|add:-3 and n < lectures.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}</p>
{% endblock %}

{% block left %}

    <form action="{% url 'lecture' %}">
        <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="">Фильтр по группам</a>
        {% for group in groups %}
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="?group={{ group }}">{{ group }}</a>
        {% endfor %}
         </div>
    </form>

{% endblock %}