{% extends "lecturer/base.html" %}

{% block title %}
    Список лекций
{% endblock %}

{% block content %}
    <div class="nav justify-content-end">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
      </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Лекция</th>
                <th scope="col"></th>
                <th scope="col">Число слушателей</th>
            </tr>
        </thead>
        {% for lecture in lectures %}
        <tbody>
            <tr>
                <td scope="row">
                    <p>{{ lecture }}</p> <p>{{ lecture.time }}</p>
                </td>
                <td scope="row">
                    <a class="nav-link" href="{% url 'lecture_more_url' lecture.id %}">Подробнее о лекции</a>
                </td>
                <td>{{ lecture.student.count }} из {{ lecture.students_count }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <p>{% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% for n in lectures.paginator.page_range %}
                    {% if lectures.number == n %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }}<span
                            class="sr-only">(current)</span></a>
                        </li>
                    {% elif n > lectures.number|add:-3 and n < lectures.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}</p>
{% endblock %}
