{% extends "lecturer/base.html" %}

{% block title %}
    Список лекций
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Лекция</th>
                <th scope="col">Студенты</th>
                <th scope="col">Число слушателей</th>
            </tr>
        </thead>
        {% for lecture in lectures %}
        <tbody>
            <tr>
                <td scope="row">
                    <p>{{ lecture }}</p> <p>{{ lecture.time }}</p>
                </td>
                <td scope="row">
                    {% for stud in lecture.student.all %}
                        {{ stud }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>{{ lecture.student.count }} из {{ lecture.students_count }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <p>{% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% for n in lectures.paginator.page_range %}
                    {% if lectures.number == n %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }}<span
                            class="sr-only">(current)</span></a>
                        </li>
                    {% elif n > lectures.number|add:-3 and n < lectures.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}</p>
{% endblock %}
