{% extends "lecturer/base.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Сегодняшние лекции
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lec in lecture_today %}
                <tr>
                    <td><p>{{lec}}</p><p>{{ lec.time }}</p></td>
                    <td>
                        <a class="nav-link" href="{% url 'qr_generator_url' lec.id %}">Посмотреть QR код</a>
                        <a class="nav-link" href="{% url 'lecture_more_url' lec.id %}">Подробнее</a>
                    </td>
                </tr>
        </tbody>
        {% endfor %}

    </table>

    <p>{% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% for n in lecture_today.paginator.page_range %}
                    {% if lecture_today.number == n %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }}<span
                            class="sr-only">(current)</span></a>
                        </li>
                    {% elif n > lecture_today.number|add:-3 and n < lecture_today.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}</p>

{% endblock %}

{% block left %}

    <p><strong><a class="nav-link" href="{% url 'receiving_data_url' %}">Создать новую лекцию</a></strong></p>

{% endblock %}