{% extends "lecturer/base.html" %}

{% block title %}
    Ввод данных
{% endblock %}

{% block content %}

    <form action="{% url 'receiving_data_url' %}" method="post">{% csrf_token %}

        <div class="col-md-5 mb-5">
              <label for="1">Введите количество пришедших студентов:</label>
              <input type="number" max='{{ count }}' min="0" id="1" placeholder="Введите кол-во"
                     class="form-control" name="students_count">
        </div>

        <button type="submit" class="btn btn-primary">Подтвердить</button>

    </form>

{% endblock %}