{% extends "lecturer/base.html" %}

{% block title %}
    Ввод данных
{% endblock %}

{% block content %}

    <form action="{% url 'receiving_data_url' %}" method="post">
        {% csrf_token %}
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault01">Название лекции:</label>
          <input type="text" class="form-control" id="validationDefault01" name="lecture_name" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationDefaultUsername">Дата:</label>
          <div class="input-group">
            <input type="datetime-local" class="form-control" min="{{ date_min }}" id="validationDefaultUsername" name="time" aria-describedby="inputGroupPrepend2" required>
            <span class="validity"></span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="exampleFormControlSelect1">Одна или несколько групп:</label>
          <select multiple class="form-control" id="exampleFormControlSelect1" name="groups" required>
              {% for group in groups %}
                <option>{{ group }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="Comment">Комментарий:</label>
          <div class="input-group">
            <textarea class="form-control" id="Comment" name="comment" rows="3"></textarea>
          </div>
        </div>
      </div>
        <div>
            <p><button type="submit" class="btn btn-primary">Подтвердить</button></p>
        </div>
    </form>

{% endblock %}