{% extends "lecturer/base.html" %}

{% block title %}
    Список студентов
{% endblock %}

{% block content %}
    <p>
        <form class="form-inline" action="{% url 'student' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
            <button class="btn btn btn-outline-primary" type="submit">Поиск</button>
        </form>
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Студент</th>
                <th scope="col">Лекции</th>
            </tr>
        </thead>
    {% for student in students %}

        <tbody>
            <tr>
                <td scope="row">
                <p>{{ student.name }}</p>
                  {% for group in student.my_group.all %}
                Группа: {{ group }}
                   {% endfor %}
                </td>
                <td scope="row">
                    {% for lect in student.lecture_set.all %}
                        {{ lect }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    {% endfor %}

    </table>

    <p>{% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% for n in students.paginator.page_range %}
                    {% if search_paginator %}
                        {% if students.number == n %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?search={{ search_query }}&page={{ n }}">{{ n }}<span
                                class="sr-only">(current)</span></a>
                            </li>
                        {% elif n > students.number|add:-3 and n < students.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?search={{ search_query }}&page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if students.number == n %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ n }}">{{ n }}<span
                                class="sr-only">(current)</span></a>
                            </li>
                        {% elif n > students.number|add:-3 and n < students.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </p>

{% endblock %}
