{% extends "lecturer/base.html" %}


{% block content %}
<table cellspacing="2" border="1" cellpadding="5" width="600">
        <tr><th>Студент</th><th>Лекции</th></tr> <!--ряд с ячейками заголовков-->
{% for student in students %}

    <tr><td>
        {% if student.activity %}
        <p align="center">{{ student.name }}</p>
        {% else %}
        <p align="center">{{ student.name }}</p>
        <p align="center"><strong>Не активен!</strong></p>
        {% endif %}
        </td>
        <td>
            {% for lect in student.lecture_set.all %}
            {{ lect }}
            {% endfor %}
        </td>
    </tr> <!--ряд с ячейками тела таблицы-->

{% endfor %}

</table>
{% endblock %}
