{% extends "lecturer/base.html" %}

{% block title %}
    Список Студентов
{% endblock %}

{% block content %}
<table cellspacing="2" border="1" cellpadding="5" width="600">
        <tr><th>Студент</th><th>Лекции</th></tr> <!--ряд с ячейками заголовков-->
{% for stud, lect in new%}

    <tr>
        <td>{{ stud }}</td>
                            <td>{% for item in lect %}
                                    {{ item }}
                                {% endfor %}</td>
    </tr> <!--ряд с ячейками тела таблицы-->

{% endfor %}

</table>
{% endblock %}